{% if product.isConfigurable %}
    <div id="product-subscription" style="display: none;">
        {{ render(url('webgriffe_back_in_stock_notification_add_subscription')) }}
    </div>
{% else %}
    {{ render(url('webgriffe_back_in_stock_notification_add_subscription', {'product_variant_code': product.variants.first.code})) }}
{% endif %}
